
*{
    font-family: 'Noto Sans KR', sans-serif;
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
    
    :root{
    --noto: 'Noto Sans KR', sans-serif;
    }
    
    li{list-style:none;}
    a{text-decoration: none;color:#000;}
    
    
    
    @media screen and (min-width: 1001px){
    
    /* ==========================================
       Header
    =============================================*/
    
    .header{width: 100%;height: 90px;background:transparent;position:fixed;top:0;left:0;z-index:9999;transition:all 0.6s;padding:0 15px;}
    
    
    .pc_header_in{width: 100%;max-width:1440px;height:90px;margin:0 auto;display:flex;justify-content:space-between;align-items:center;
                position:relative;}
    
    .pc_header_in .logo{width:auto;}
    .pc_header_in .logo img{width:100%;transition:all 0.3s;}
    
    .pc_header_in .pc_menu_area{display:flex;justify-content:space-between;align-items:center;}
    .pc_header_in .pc_menu_area .pc_menu{display:flex;}
    
    .pc_header_in .pc_menu>li{position:relative;z-index:1000;transition:all 0.6s;}
    .pc_header_in .pc_menu>li>a{display:block;height:100%;line-height:90px;color:#fff;font-size:16px;font-weight:700;padding:0 30px;transition:all 0.6s;}
    /* .pc_header_in .pc_menu>li:last-child a{padding-right:0px; } */
    
    .pc_header_in .pc_menu>li::after{content:'';position:absolute;bottom:0;left:0;width: 100%;    height: 2px;background:#d0b68e; display:none;; }
    .pc_header_in .pc_menu>li:hover::after{display:block; transition: .3s;  }
    
    /*header_on*/
    .header.on{background:#fff;} 
    .header.on2{background:#fff;height:300px;    box-shadow: 1px 3px 6px rgb(0 0 0 / 8%);transition:all 0.6s}
    
    .header.on .pc_menu>li>a{color:#121212;}
    .header.on .pc_menu_btn>span{background:#000;}
    
    .header.on2:before{
        content: '';
        width: 100%;
        height: 1px;
        background: #e8e8e8;
        position: absolute;
        top: 90px;
        left: 0;
        z-index: 9;
    }
    
    
    /*아래로 내려오는 메뉴*/
    .pc_menu>li>.pc_sub_menu{display:none;width:130%;position:Absolute;top:100px;left:50%;transform:translateX(-50%);z-index:1000;
                                                            border-radius:2px;background:transparent;padding:20px 0 0;text-align:Center;}
    .pc_menu>li>.pc_sub_menu>li>a{display:block;color:#222;padding:10px 0;font-size:15px;font-weight:500;}
    .pc_menu>li>.pc_sub_menu>li>a:hover{color: #d0b68E; transition: .3s;}
    
    
    /*모바일 메뉴*/
    .m_header_in{display:none;}
    
    /*햄버거 메뉴*/
    
    .t_menu_right{display:none;position: absolute;right: -1000px;top: 80px;height: calc(100vh - 80px);background: #d9d9d9;width: 90%;max-width:500px;
    box-shadow:-1px 5px 6px #999;padding-top: 90px;overflow-y: scroll;z-index:9002;}
    
    
    .t_menu_right>p{position: absolute;left: 0;top: 0;height: 90px;line-height: 90px;font-size: 26px;text-align: center;font-weight: bold;width: 100%;color: #fff;}
    
    .tm_box{height: 100%;background: #fff;}
    .tm_box> ul{width: 100%;padding-bottom: 50px;}
    .tm_box>ul>li{border-bottom:1px solid #eee;position: relative;background: #fff;}
    .tm_box>ul>li>a{display: block;width: 100%;height: 60px;line-height: 60px;padding-left: 20px;font-size: 18px;font-weight: bold;position: relative;z-index:3}
    .tm_box>ul>li>ul{width: 100%;background: #dfdfdf;padding-left: 20px;padding: 10px 0 10px 20px;display: none;}
    .tm_box>ul>li>ul>li{position: relative;padding-left: 20px;}
    .tm_box>ul>li>ul>li>a{display: block;width: 100%;height: 40px;line-height: 40px;color: #000;font-size: 15px;}
    
    
    .tm_box .spindiv{
    position: absolute;right:20px;top:14px;width:32px;height:32px;border-radius:32px;background:#006fbb;
    }
    .tm_box .spindiv.on{
        animation: spind 0.4s linear alternate;-webkit-animation-fill-mode:both
    }
    .tm_box .spindiv.on1{
        animation: spind2 0.4s linear alternate;-webkit-animation-fill-mode:both
    }
    .tm_box .spindiv>span:nth-child(1){position: absolute;display: block;width: 4px;height: 20px;background: #fff;left: 14px;top: 6px;}
    .tm_box .spindiv.on>span:nth-child(2){
        animation: spindd 0.4s linear alternate;
        -webkit-animation-fill-mode:both
    }
    .tm_box .spindiv.on1>span:nth-child(2){
        animation: spindd2 0.4s linear alternate;
        -webkit-animation-fill-mode:both
    }
    
    .tm_box .spindiv>span:nth-child(2){position: absolute;display: block;width:20px;height:4px;background:#fff;left: 6px;top:14px;}
    
    
    @keyframes spind {
      0% {transform: rotate(0deg)}
      100% {transform: rotate(90deg)}		
    }
    @keyframes spindd {
      0% {opacity: 1}
      100% {opacity: 0}		
    }
    @keyframes spind2 {
      0% {transform: rotate(90deg)}
      100% {transform: rotate(0deg)}		
    }
    @keyframes spindd2 {
      0% {opacity: 0}
      100% {opacity: 1}		
    }
    
    /* ==========================================
       Footer
    =============================================*/
    
    .footer{width: 100%;background:#222222;}
    .footer_in{width: 100%;max-width:1440px;margin:0 auto;}
    
    .footer .footer_top{width: 100%;height: 90px;border-bottom:1px solid #3a3a3a;}
    .footer .footer_top .footer_in{height: 90%;}
    .footer .footer_top ul{height: 100%;display:flex;align-items:center;}
    .footer .footer_top ul li a{display:inline-block;padding:0 20px;color:#cdcdcd;font-size:15px;font-weight:500;}
    .footer .footer_top ul li:first-child a{padding-left:0;color:#d0b68E}
    
    
    .footer .footer_top ul li:nth-child(2){position:relative;}
    .footer .footer_top ul li:nth-child(2)::before, .footer .footer_top ul li:nth-child(2)::after
    {content:'';position:absolute;top:50%;transform:translateY(-50%);width: 2px;height: 60%;background:#5a5a5a}
    
    
    .footer_bottom .footer_in{display:flex;align-items:Center;justify-content:space-between;padding:60px 0;}
    .footer_bottom address{color:#aeaeae;font-style:normal;font-size:13px;}
    
    
    
    .footer_bottom address span{display:inline-block;width: 2px;height:14px;background:#aeaeae;margin:0 20px; }
    .footer_bottom address .none{display:none;}
    .footer_bottom address .copy{color:#515151;font-size:14px;margin-top:6px;}
    
    
    .footer_bottom .customer p:first-child{color:#cdcdcd;font-size:14px;;}
    .footer_bottom .customer p:last-child{color:#fff;font-size:20px;font-weight:bold;}
    
    .footer_bottom .copy2{color:#515151;font-size :14px;display:none;}
    
    
    /*top버튼*/
    
    .btn_top_area{position:fixed;bottom:40px;right:50px;z-index:500;overflow:hidden;}
    .btn_top{width: 45px;height: 90px;border:2px solid #fff;border-radius:50px;cursor:pointer;transition:all 0.4s;
                position:relative;}
    .btn_top .center{width: 100%;height:50%;background:transparent;position:absolute;top:50%;left:0;transform:translateY(-50%);z-index:50;overflow:hidden;}
    .btn_top img{position:absolute;top:0px;left:32%;transform:translateY(-50%);animation: ani 1.75s infinite;}
    .btn_top img.mo{display:none}
    
    
    
    .btn_top.on{height: 45px;border:2px solid #000;}
    .btn_top.on .center{overflow:visible;}
    .btn_top.on img{position:absolute;top:50%;left:50%;z-index:55;transform:translate(-50%,-50%);animation: ani2 3s infinite;}
    
    
    
    
    
    
    @keyframes ani {
       0% {
        transform: translate3d(0,-100%,0);
        opacity: 0;
        }
    
        30% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: translate3d(0,150%,0);
            opacity: 0;
        }
    }
    
    
    
    @keyframes ani2 {
        0% { }
    
        100% {}
    
    }
    
    
    
    
    
    }
    
    
    /* ===================================================
    
        화면 틀어짐 방지
    
    ======================================================*/
    @media screen and (min-width:1001px) and (max-width:1600px){
        .footer_in{width: 100%;margin:0 auto;padding:0 10px; }
        .footer_bottom .footer_in{padding:60px 10px;}
    
        .footer .btn_top{right:0;}
    
    
    }
    
    @media screen and (min-width:1001px) and (max-width:1350px){
    
        .pc_header_in .logo{width:190px;}
        .pc_header_in .logo a{width: 100%;}
        .pc_header_in .logo a img{width: 100%;}
        .pc_header_in .pc_menu>li>a{padding:0 25px;font-size:19px;}
        
    
        .footer_in{width: 100%;margin:0 auto;padding:0 10px; }
        .footer_bottom .footer_in{padding:45px 10px;flex-direction:column;align-items: flex-start}
        .footer_bottom address span{display:none;}
        .footer_bottom address .none{display:block;}
        .footer_bottom address .copy1{display:none;}
    
        .footer_bottom .customer{margin:25px 0;}
        .footer_bottom .copy2{display:block;color:#515151;font-size:14px;}
    
    }
    
    /* ===================================================
    
      MOBILE ver (1000px 이하)
    
    ======================================================*/
    
    
    @media screen and (max-width:1000px){
    
        /* ===================================================
          common파일 :: 3. Header
        ======================================================*/	
        .pc_header_in{display:none;}
    
        .header{width: 100%;height:14.000vw;background:transparent;position:fixed;top:0;left:0;z-index:9998; transition: all 0.3s;}
        .m_header_in{width: 94%;height:100%;margin:0 auto;display:flex;align-items:Center;justify-content: space-between;}
    
        .m_header_in .logo{width:35.0000vw;/* margin-top:0.7vw; */}
        .m_header_in .logo a{display:block;width:100%;}
        .m_header_in .logo img{width: 100%;vertical-align: middle;}
    
        .m_header_in .pc_menu_btn{width: 7.0000vw;height: 7.0000vw;position:relative;cursor:pointer;margin-left:6.0000vw;}
        .m_header_in .pc_menu_btn span{display:block;position:Absolute;top:50%;transform:translateY(-50%);
                                    width: 100%;height:1px;background:#fff;transition:all 0.3s;border-radius:50px} 
    
        .m_header_in .pc_menu_btn .menu_line1{margin-top:-2.2000vw;}
        .m_header_in .pc_menu_btn .menu_line2{}
        .m_header_in .pc_menu_btn .menu_line3{margin-top:2.2000vw;}
    
        .m_header_in .pc_menu_btn.on .menu_line1{margin-top:0.0000vw;transform: rotate(45deg);}
        .m_header_in .pc_menu_btn.on .menu_line2{width: 0.0000vw;}
        .m_header_in .pc_menu_btn.on .menu_line3{margin-top:0.0000vw;transform: rotate(-45deg);}
    
        .header.on{background:#fff;border-bottom:0.1000vw solid #eee;}
        .header.on .pc_menu_btn>span{background:#212121;}
    
    
        /*	버튼메뉴*/
    
        .t_menu_right{position: absolute;right: -1300px;top: 14vw;height: calc(100vh - 12.5vw);background:#327466;width: 100%;
        box-shadow:-1px 5px 6px #999;overflow-y: scroll;}	
    
    
        .t_menu_right>p{position: absolute;left: 0;top: 0;height: 50px;line-height: 50px;font-size: 16px;text-align: center;font-weight: bold;width: 100%;color: #fff;}
    
        .tm_box{height: 100%;background: #fff;}
        .tm_box > ul{width: 100%;padding-bottom: 50px;padding-top:40px;}
        .tm_box > ul > li > a:hover{color: #d0b68e; transition:  .3s;}
        .tm_box >ul>li{position: relative;background: #fff;}
        .tm_box >ul>li>a{display: block;width: 100%;height: 70px;line-height: 70px;padding-left: 20px;font-size: 16px;font-weight: 500;position: relative;z-index:3}
        .tm_box >ul>li>ul{width: 100%;background: #fff;padding-left: 20px;padding: 10px 0 10px 0px;display: none;}
        .tm_box >ul>li>ul>li{position: relative;}
        .tm_box >ul>li>ul>li>a{display: block;width: 100%;height: 40px;line-height: 40px;color: #000;font-size: 15px;font-weight:400;padding-left:30px;}
        .tm_box >ul>li>ul>li>a:hover{color: #d0b68E; transition: .3s;}
        
        .tm_box .spindiv{
        position: absolute;right:20px;top:10px;width:29px;height:29px;border-radius:32px;background:#327466;
        }
        .tm_box .spindiv.on{
            animation: spind 0.4s linear alternate;-webkit-animation-fill-mode:both
        }
        .tm_box .spindiv.on1{
            animation: spind2 0.4s linear alternate;-webkit-animation-fill-mode:both
        }
        .tm_box .spindiv>span:nth-child(1){position: absolute;display: block;width: 4px;height: 20px;background: #fff;left:50%;top: 50%;transform:translate(-50%,-50%);}
        .tm_box .spindiv.on>span:nth-child(2){
            animation: spindd 0.4s linear alternate;
            -webkit-animation-fill-mode:both
        }
        .tm_box .spindiv.on1>span:nth-child(2){
            animation: spindd2 0.4s linear alternate;
            -webkit-animation-fill-mode:both
        }
    
        .tm_box .spindiv>span:nth-child(2){position: absolute;display: block;width:20px;height:4px;background:#fff;left:50%;top: 50%;transform:translate(-50%,-50%);}
    
    
    
        @keyframes spind {
          0% {transform: rotate(0deg)}
          100% {transform: rotate(90deg)}		
        }
        @keyframes spindd {
          0% {opacity: 1}
          100% {opacity: 0}		
        }
        @keyframes spind2 {
          0% {transform: rotate(90deg)}
          100% {transform: rotate(0deg)}		
        }
        @keyframes spindd2 {
          0% {opacity: 0}
          100% {opacity: 1}		
        }
    
    /* ==========================================
       Footer
    =============================================*/
    
    .footer{width: 100%;background:#222222;}
    .footer_in{width: 94%;margin:0 auto;}
    
    .footer .footer_top{width: 100%;height: 90px;border-bottom:1px solid #3a3a3a;}
    .footer .footer_top .footer_in{height: 90%;}
    .footer .footer_top ul{height: 100%;display:flex;align-items:center;justify-content: center}
    .footer .footer_top ul li a{display:inline-block;padding:0 45px;color:#cdcdcd;font-size:39px;font-weight:500;}
    .footer .footer_top ul li:first-child a{padding-left:0;color:#d0b68e}
    
    
    .footer .footer_top ul li:nth-child(2){position:relative;}
    .footer .footer_top ul li:nth-child(2)::before, .footer .footer_top ul li:nth-child(2)::after
    {content:'';position:absolute;top:50%;transform:translateY(-50%);width: 2px;height: 60%;background:#5a5a5a}
    
    
    .footer_bottom .footer_in{display:flex;flex-direction:column;align-items: flex-start;padding:50px 0;}
    .footer_bottom address{margin-top:70px;color:#aeaeae;font-style:normal;font-size:39px;}
    
    
    .footer_bottom address span{display:none }
    .footer_bottom address .none{display:block;}
    .footer_bottom address .copy1{display:none;}
    
    .footer_bottom .customer{margin:100px 0;}
    
    .footer_bottom .customer p:first-child{color:#cdcdcd;font-size:45px;;}
    .footer_bottom .customer p:last-child{color:#fff;font-size:87px;line-height: 60px;font-weight:bold;}
    
    .footer_bottom .copy2{display:block;color:#515151;font-size:33px;}
    
    /*top버튼*/
    
    
    .btn_top_area{position:fixed;bottom:40px;right:50px;z-index:500;overflow:hidden;}
    .btn_top{width: 80px;height: 170px;border:2px solid #fff;border-radius:50px;cursor:pointer;transition:all 0.4s;
                position:relative;}
    .btn_top .center{width: 100%;height:50%;background:transparent;position:absolute;top:50%;left:0;transform:translateY(-50%);z-index:50;overflow:hidden;}
    .btn_top img{width:20px;position:absolute;top:0px;left:40%;transform:translateY(-50%);animation: ani 1.75s infinite;}
    .btn_top img.pc{display:none}
    
    
    .btn_top.on{height: 80px;border:2px solid #000;}
    .btn_top.on .center{overflow:visible;}
    .btn_top.on img{width: 26px;position:absolute;top:50%;left:50%;z-index:55;transform:translate(-50%,-50%);animation: ani2 3s infinite;}
    
    
    
    
    
    
    @keyframes ani {
       0% {
        transform: translate3d(0,-100%,0);
        opacity: 0;
        }
    
        30% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: translate3d(0,150%,0);
            opacity: 0;
        }
    }
    
    
    
    @keyframes ani2 {
        0% { }
    
        100% {}
    
    }


    
    
    /*__*/
    .footer{width: 100%;background:#222222;position:relative;}
    .footer_in{width: 94%;margin:0 auto;}
    
    .footer .footer_top{width: 100%;height:14.6000vw;border-bottom:0.1000vw solid #3a3a3a;}
    .footer .footer_top .footer_in{height: 90%;}
    .footer .footer_top ul{height: 100%;display:flex;align-items:center;justify-content: flex-start}
    .footer .footer_top ul li a{display:inline-block;padding:0 4.5000vw;color:#cdcdcd;font-size:15px;font-weight:500;}
    .footer .footer_top ul li:first-child a{padding-left:0; color:#d0b68E;}
    
    
    .footer .footer_top ul li:nth-child(2){position:relative;}
    .footer .footer_top ul li:nth-child(2)::before, .footer .footer_top ul li:nth-child(2)::after
    {content:'';position:absolute;top:50%;transform:translateY(-50%);width: 0.2000vw;height: 60%;background:#5a5a5a}
    
    
    .footer_bottom .footer_in{display:flex;flex-direction:column;align-items: flex-start;padding:5.0000vw 0;}
    
    .footer_bottom .f_logo{width:40.000vw;}
    .footer_bottom .f_logo a{width: 100%;}
    .footer_bottom .f_logo a img{width: 100%;}
    
    .footer_bottom address{margin-top:7.0000vw;color:#aeaeae;font-style:normal;font-size:2.9000vw;}
    
    
    .footer_bottom address span{display:none }
    .footer_bottom address .none{display:block;}
    .footer_bottom address .copy1{display:none;}
    
    .footer_bottom .customer{margin:10.0000vw 0;}
    
    .footer_bottom .customer p:first-child{color:#cdcdcd;font-size:3.5000vw;;}
    .footer_bottom .customer p:last-child{color:#fff;font-size:5.7000vw;line-height: 6.0000vw;font-weight:bold;margin-top:1.000vw;}
    
    .footer_bottom .copy2{display:block;color:#515151;font-size:14px;}
    
    
    /*top버튼*/
    .btn_top_area{position:fixed;bottom:4.0000vw;right:5.0000vw;z-index:500;overflow:hidden;}
    .btn_top{width: 8.0000vw;height: 17.0000vw;border:0.35000vw solid #fff;border-radius:5.0000vw;cursor:pointer;transition:all 0.4s;
                position:relative;}
    .btn_top .center{width: 100%;height:50%;background:transparent;position:absolute;top:50%;left:0;transform:translateY(-50%);z-index:50;overflow:hidden;}
    .btn_top img{width:2.0000vw;position:absolute;top:0.0000vw;left:38%;transform:translateY(-50%);animation: ani 1.75s infinite;}
    .btn_top img.pc{display:none}
    
    
    .btn_top.on{height: 8.0000vw;border:0.35000vw solid #000;}
    .btn_top.on .center{overflow:visible;}
    .btn_top.on img{width: 2.6000vw;position:absolute;top:50%;left:50%;z-index:55;transform:translate(-50%,-50%);animation: ani2 3s infinite;}
    
    
    
    
    
    
    
    }