.common-inner {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    min-width: 1200px;
    padding: 0px 5%;
    margin: 0px auto;
  }
  
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
  }
header {
    width: 100%;
    height: 101px;
    background-color: #fff;
    z-index: 11;
  }
  header.header-main {
    position: fixed;
    overflow: hidden;
    transition: height 0.4s, background-color 0.4s;
  }
  header.header-main .covid {
    margin-top: 16px;
  }
  header.header-main .gnb-menu .subMenu-list {
    transition: 0.4s;
  }
  header.header-main.over {
    height: 394px;
    z-index: 1001;
  }
  header.header-area {
    position: absolute;
  }
  header.header-area .header-bg {
    transition: height 0.5s;
    height: 0;
    width: 100%;
    background-color: #fff;
  }
  header.header-area .gnb-menu .subMenu-list {
    transition: 0.1s;
    transition-delay: 0.1s;
    pointer-events: none;
  }
  header.header-area:hover .gnb-menu {
    color: #000;
  }
  header.header-area.over .header-bg {
    height: 294px;
  }
  header.header-area.over .gnb-menu .subMenu-list {
    pointer-events: all;
  }
  header .common-inner {
    display: flex;
    position: relative;
    z-index: 1;
  }
  header .logo {
    width: 163px;
    height: 27px;
    margin-right: 4vw;
    background-image: url(../www/grow_program1/grow_img/grow_logo3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s ease;
    margin-top: 33px;
  }
  header .logo a {
    display: block;
    height: 100%;
    width: 100%;
  }
  header .gnb-menu {
    flex: 1;
    font-size: 0;
    color: #666;
    text-align: center;
    transition: color 0.2s;
  }
  header .gnb-menu .gnb-item {
    display: inline-block;
    position: relative;
    width: 180px;
    font-size: 16px;
    line-height: 96px;
    text-align: left;
    vertical-align: top;
    height: 100%;
  }
  header .gnb-menu .covid {
    float: right;
    width: auto;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    margin-top: 33px;
  }
  header .gnb-menu .subMenu-list {
    position: absolute;
    left: 0;
    padding-top: 35px;
    width: 100%;
    height: 215px;
    opacity: 0;
  }
  header .gnb-menu .subMenu-list .subMenu-item {
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    transition: color 0.1s ease;
  }
  header .gnb-menu .subMenu-list .subMenu-item + .subMenu-item {
    margin-top: 16px;
  }
  header .gnb-menu a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  header::after {
    content: "";
    display: block;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    border-color: rgb(229, 229, 229);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color 0.2s ease, opacity 0.2s ease;
    opacity: 1;
  }
  header.header-main:hover {
    background-color: #fff;
  }
  header.header-main:hover .logo {
    filter: none;
  }
  header.header-main:hover .gnb-menu {
    color: #000;
  }
  header.over .gnb-menu .subMenu-list {
    opacity: 1;
  }
  header.transform {
    background-color: transparent;
  }
  header.transform .logo {
    filter: invert(100%);
  }
  header.transform .gnb-menu {
    color: #fff;
  }
  header.transform::after {
    opacity: 0;
  }
  
  .header-area.fixed {
    position: fixed;
    height: 55px;
  }
  .header-area.fixed .logo {
    transform: scale(0.64);
    margin-top: 12px;
    margin-right: 6vw;
    margin-left: -2vw;
  }
  .header-area.fixed .covid {
    margin-top: 12px;
  }
  .header-area.fixed::after {
    top: 54px;
  }
  .header-area.fixed .gnb-menu .gnb-item {
    line-height: 54px;
    font-size: 14px;
  }
  .header-area.fixed .gnb-menu .covid {
    margin-top: 0;
    font-size: 14px;
    line-height: 54px;
  }
  .header-area.fixed .gnb-menu .subMenu-list {
    height: 196px;
    transition: 0.3s;
  }
  .header-area.fixed .gnb-menu .subMenu-list .subMenu-item {
    font-size: 14px;
    line-height: 20px;
  }
  .header-area.fixed.over .header-bg {
    height: 196px;
  }
  .header-area.fixed.over .gnb-menu .subMenu-list {
    transition-delay: 0.15s;
  }
  
  footer {
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  footer .ftop-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  footer .row {
    display: table-row;
  }
  footer .row > * {
    display: table-cell;
    vertical-align: top;
    padding: 0 6px;
  }
  footer .f-title span {
    display: block;
    color: rgb(128, 128, 128);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.06122;
  }
  footer .f-title span:nth-of-type(1) {
    margin-bottom: -6px;
    margin-top: 40px;
  }
  footer .footer-item .cata {
    margin-top: 52px;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
  }
  footer .footer-item .cata::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    border-bottom: 2px solid rgb(102, 102, 102);
    opacity: 0.4;
  }
  footer .footer-item a {
    font-size: 16px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    display: inline-block;
  }
  footer .copyright {
    margin-top: 85px;
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }
  footer .copyright .corp {
    float: left;
    min-width: 16.6667%;
  }
  footer .copyright .a-wrap {
    display: inline-block;
  }
  footer .copyright a.bold {
    font-weight: 700;
    text-decoration: underline;
  }
  footer .copyright a + a {
    margin-left: 16px;
  }
  footer .copyright .address {
    float: right;
    font-style: normal;
  }